<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate %> and I am <%= @owner.age %> years old.</p>
<p>There are only <%= @owner.countdown %> days until my birthday!</p>